* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.name{
  color: blue;
  font-weight: bold;
  margin-left: 10%;
}
.op{
  text-decoration: none;
  float: right;
  margin-right: 5%;
  color: black;
}
.nav{
  margin-top: 20px;
}
.main{
  margin-top: 20%;
}
.content{
  float: left;
  box-sizing: border-box;
  display: inline;
  width: 50%;
}

h1,p,#b1{
  margin-left: 20%;
}
p{
  margin-top: 25px;
  font-size: larger;
  margin-bottom: 25px;
}
.button{
  border: 1px solid;
  padding: 7px;
  border-radius: 5px;
}
#b1{
  color: white;
  border-color: blue;
  background-color: blue;
}
#b2{
  margin-left: 10%;
  background-color:rgb(210, 209, 209);
  border-color: rgb(210, 209, 209);
}
#img{
  margin-top: -15%;
  width: 40%;
  mix-blend-mode: darken;
}
